@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	background-color: black;
	color: white;
}
.profile{
   display: flex;
   align-items: center;
}
.image {
	background-image: url('sushan.jfif');
	background-position: center top;
	height: 180px;
	width: 180px;
	margin-right: 20px;
	border-radius: 1000px;
	margin-top: 10px;
   border: solid 2px white;
   padding: 10px;
}
.about{
}
span {
	font-family: 'Source Code Pro', monospace;
}
body {
	height: 100vh;
   display: flex;
   align-items: center;
}
#designation{
	font-family: 'Poppins', sans-serif;
	border-bottom: solid 2px #4fc3f7;
}
.social{
	position: fixed;
	bottom: 40px;
	right: 40px;
}
.social_btn{
	height: 30px;
	width: 30px;
	color: #fff;
	background-size: contain;
   margin-top: 20px;
}
.fb{
	background-image: url('fb.png');
}
.insta{
	background-image: url('ig.png');
}
.linkedin{
	background-image: url('lin.png');
}
.github{
	background-image: url('github.png');
}
.social a{
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: flex-end;
	font-family: 'Fira Code', monospace;
}
.social a div{
   margin-right: 10px;
   padding-top: 20px;
}
.social-text {
   opacity: 0;
   transition: 0.4s;
}
   
.companies-main{
	position: fixed;
   top: 50px;
   right: 50px;
   display: flex;
   flex-direction: column;
}
.companies{
   display: flex;
   border-bottom: solid 2px #fff;
   padding-bottom: 10px;
}
#company-text{
   margin-top: 10px;
}
.logo-main{
	position: fixed;
   top: 50px;
   left: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.logo{
   border-bottom: solid 2px #fff;
   padding-bottom: 10px;
}
#logo-text{
   margin-top: 10px;
}
.company {
   height: 50px;
   width: 50px;
   margin-left: 10px;
   border-radius: 15px;
}
.lmu{
	background-image: url('lmu.png');
   height: 50px;
   width: 200px;
}
.banner{
	background-size: contain;
   background-repeat: no-repeat;
}
img{
   object-fit: contain;
}
.skills{
   position: fixed;
   bottom: 30px;
   left: 30px;
   display: flex;
   flex-direction: column;
}
.skill{
   height: 50px;
   width: 50px;
   margin-right: 10px;
}
.banner:hover {
   transform: scale(1.2);
   overflow: hidden;
   transition: 0.3s;
}
#skill-text {
   margin-bottom: 10px;
}
.skills-main {
   display: flex;
   align-items:center;
   justify-content:center;
   border-top: solid 2px #fff;
   padding-top: 10px;
}
